/******************************************************************************************/
/* Notices
/******************************************************************************************/
.slicewp-user-notice { width: 100%; border-style: solid; border-width: 2px; border-radius: 6px; margin: 5px 0px 1em 0px; padding: 15px;}
.slicewp-user-notice.slicewp-error { background: #ffebeb; border-color: #dc3232; }
.slicewp-user-notice.slicewp-warning { background: #fff7ea; border-color: #f39c12; }
.slicewp-user-notice.slicewp-updated { background: #e0ffe3; border-color: #46b450; }
.slicewp-user-notice > :first-child { margin-top: 0; }
.slicewp-user-notice > :last-child { margin-bottom: 0; }

/******************************************************************************************/
/* Form Fields
/******************************************************************************************/
.slicewp-field-wrapper { margin-bottom: 25px; }
.slicewp-field-wrapper input[type=text],
.slicewp-field-wrapper input[type=email],
.slicewp-field-wrapper input[type=url],
.slicewp-field-wrapper input[type=password],
.slicewp-field-wrapper textarea { width: 100%; max-width: 100%; }
.slicewp-field-wrapper.slicewp-last { margin-bottom: 0; }

/******************************************************************************************/
/* General Cards
/******************************************************************************************/
.slicewp-card { margin-bottom: 1.5em; background: #fff; box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3; box-sizing: border-box; }

.slicewp-card-header { padding: 20px; border-bottom: 1px solid rgba(200, 215, 225, 0.5); font-weight: bold; }
.slicewp-card-inner { padding: 20px; }

.slicewp-card-footer { padding: 20px; border-top: 1px solid rgba(200, 215, 225, 0.5); background: rgba(200, 215, 225, 0.15); }

.slicewp-card-footer-actions { text-align: right; }
.slicewp-card-footer-actions:after { content: ''; display: block; clear: both; }
.slicewp-card-footer-actions a { float: left; color: #777; line-height: 34px; outline: 0; box-shadow: none; }
.slicewp-card-footer-actions a:hover { color: #444; }

/******************************************************************************************/
/* Affiliate Dashboard Cards
/******************************************************************************************/
.slicewp-card-affiliate-dashboard { margin-bottom: 0; }
.slicewp-card-affiliate-dashboard .slicewp-card-header { padding: 10px 20px 10px 20px; }
.slicewp-card-affiliate-dashboard .slicewp-card-inner { padding: 10px 20px 10px 20px }
.slicewp-card-affiliate-dashboard .slicewp-card-footer { padding: 10px 20px 10px 20px; font-size: 0.75em; }

/******************************************************************************************/
/* General Tabs and Nav Tabs
/******************************************************************************************/
.slicewp-nav-tab-wrapper { margin: 1.5rem 0 0 0; padding: 0; list-style-type: none; }
.slicewp-nav-tab-wrapper:after { content: ''; display: block; clear: both; }

.slicewp-nav-tab-wrapper .slicewp-nav-tab { display: inline-block; border: 0; margin: 0; padding: 0; }
.slicewp-nav-tab-wrapper .slicewp-nav-tab:before { display: none; }

.slicewp-nav-tab-wrapper .slicewp-nav-tab a { display: block; width: auto; border-bottom: 2px solid transparent; padding: 12px 12px 10px 12px; box-sizing: border-box; box-shadow: none !important; text-decoration: none !important; outline: none !important; }
.slicewp-nav-tab-wrapper .slicewp-nav-tab a:hover,
.slicewp-nav-tab-wrapper .slicewp-nav-tab a:focus,
.slicewp-nav-tab-wrapper .slicewp-nav-tab.slicewp-active a { border-bottom: 2px solid #2e4453; color: #2e4453; }

.slicewp-nav-tab-wrapper .slicewp-nav-tab span { vertical-align: middle; }

.slicewp-nav-tab-wrapper .slicewp-nav-tab .dashicons { width: 18px; height: 18px; line-height: 18px; font-size: 18px; margin-right: 5px; }

.slicewp-tab { display: none; margin-top: 25px; }
.slicewp-tab.slicewp-active { display: block; }

/******************************************************************************************/
/* Creative Shortcode
/******************************************************************************************/
.slicewp-creative-shortcode-wrapper { margin: auto; padding: 10px; width: 100%; }
.slicewp-creative-shortcode-wrapper img { margin: 15px auto; display: block; }
.slicewp-creative-shortcode-textarea { font-size: 14px; width: 100%; height: 130px; }

/******************************************************************************************/
/* Affiliate Account Shortcode
/******************************************************************************************/
.slicewp-creative-affiliate-wrapper { margin: auto; padding: 10px; width: 100%; }
.slicewp-creative-affiliate-wrapper img { margin: 15px auto; display: block; }
.slicewp-creative-affiliate-textarea { font-size: 14px; width: 100%; height: 130px; }

.slicewp-creative-description > :first-child { margin-top: 0; }
.slicewp-creative-description > :last-child { margin-bottom: 0; }

/******************************************************************************************/
/* Affiliate Account Forms
/******************************************************************************************/
#slicewp-affiliate-account textarea,
#slicewp-affiliate-account input[type="text"] { width: 100%; margin: 15px auto; }

/******************************************************************************************/
/* Grid
/******************************************************************************************/
.slicewp-row { margin-left: -10px; margin-right: -10px; }
.slicewp-row:after { content: ''; display: block; clear: both; }

[class*="slicewp-col-"] { display: block; float: left; padding: 0 10px; margin-bottom: 20px; box-sizing: border-box; }
.slicewp-row.slicewp-last [class*="slicewp-col-"] { margin-bottom: 0; }

.slicewp-col-1-2 { width: 50%; }
.slicewp-col-1-3 { width: 33.3333%; }
.slicewp-col-1-4 { width: 25%; }
.slicewp-col-3-4 { width: 75%; }
.slicewp-col-1-5 { width: 20%; }

/******************************************************************************************/
/* Tables
/******************************************************************************************/
body .slicewp-tab table td { word-break: break-all; }

h1 {text-align: center;}
.slicewp-warningrr.slicewp-user-notice{display: inline-block; float: left; width: auto; padding: 0; border: 0;}
.bapply{display: inline-block; float: left;}
.affareax {font-size: 18px;}
.bapply span {vertical-align: bottom;}